.App {

}
label{

        color: black;
         text-align: left;
        margin-left: 6ch;
        margin-bottom: 1ch;
        font-family: 'Trebuchet MS', sans-serif ;
        font-size: 20px;

}
input{
    background-color: white;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid #EAEBEC;
    margin-left: 6ch;
    margin-right: 7ch;
    
}
input:focus{
    border-color: #6236F5; 
    outline: none; 
}